.form-content {
  width: 80%;
  height: auto;
  border: 2px solid #ffffff77;
  margin: 0 auto 30px;
}

form {
  width: 100%;
  margin: 15px 0 0 auto;
}

label {
  font-size: 20px;
  padding-right: 10px;
}

input[type="submit"],
input[type="reset"],
input[type="number"],
input[type="text"],
input[type="file"] {
  margin-right: 20px;
  background-color: #ffffff00;
  color: white;
  border: none;
  border: 2px solid #ffffff77;
}

input[type="number"],
input[type="text"],
input[type="file"] {
  width: 400px;
  height: 40px;
  font-size: 20px;
}

textarea {
  width: 400px;
  font-size: 20px;
  height: 100px;
  max-width: 400px;
  max-height: 150px;
  margin-right: 20px;
  background-color: #ffffff00;
  color: white;
  border: none;
  border: 2px solid #ffffff77;
}

input[type="submit"],
input[type="reset"] {
  width: 90px;
  height: 40px;
  margin-right: 20px;
  background-color: #242424b4;
  color: white;
  border: none;
  border: 2px solid #ffffff77;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  margin-right: 20px;
  background-color: #001affa2;
  color: white;
  border: 2px solid #ffffff77;
}
